body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.nav {
    display: flex;
    justify-content: flex-end;
    background-color: red;
}
figure img {
    width: 200px;
}
.nav-list {
    display: flex;
    list-style-type: none;
    margin-right: 2rem;
}

.nav-list a {
    display: block;
    font-size: 2rem;
    padding: 2rem;
}

.nav-list a:hover {
background: #45567d;
}